<%= form_for(@alert) do |f| %>
  <%= render :partial => "layouts/errors", :object => @alert %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :body, "Message" %><br>
      <div class="input">
        <%= f.text_area :body %>
      </div>
    </div>
  </fieldset>

  <div class="submit_bar actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
